@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root{
    --cor: #5D4030;
    --cor1: #c3cbd1;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    text-align: justify;
    font-family: var(Roboto);
    background-color: rgb(40, 40, 40);
}

header>h1{
    padding-top: 5px;
    color:  #e8cd79;
}

header{
    font-size: 30px;
    color: white;
    text-align: center;
    background-color:hsl(0, 80%, 20%);
    padding-bottom: 10px;
}

nav{
    background-color: #92793E;
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 2.5px 2.5px;
}

#nav_class{
    background-image:linear-gradient(to right ,hsl(0, 80%, 20%),#92793E,hsl(0, 80%, 20%)) ;
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--cor1);
}

a:hover{
    color: white;
    text-decoration: underline;
}

main{
    font-size: larger;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
}

.cara1{
    margin-top: 135px;
}
.cara2{
    margin-left: 350px;
}
.cara3{
    margin-top: 90px;
}
.cara4{
    margin-top: 110px;
}
.cara5{
    margin-top: 65px;
}
.cara6{
    margin-top: 65px;
}

.class_sub_1{
    font-size: 40px;
    text-align: center;
    color: hsl(20, 70%, 30%);
    padding-top: 5px;
    padding-bottom: 10px;
}



main>img{
    height: 340px;
    width: 340px;
    float: left;
    margin-right: 10px;
}



article{

}

aside{

}

footer{
    background-image:linear-gradient(to right ,hsl(0, 80%, 20%),#92793E,hsl(0, 80%, 20%)) ;
    color: rgb(230, 230, 230);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;    
}

ul{
    padding-left: 20px;
}




