@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root{
    --cor: #5D4030;
    --cor1: #c3cbd1;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    text-align: justify;
    font-family: var(Roboto);
    background-color: rgb(40, 40, 40);
}

header>h1{
    padding-top: 5px;
    color:  #e8cd79;
}

header{
    
    color: white;
    text-align: center;
    background-color:hsl(0, 80%, 20%);
    padding-bottom: 10px;
}

.nav_class{
    background-color: #92793E;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.nav_class ul{
    list-style: none;    
}

.nav_class ul li{
    background-color: hsla(42, 40%, 41%, 0.7);
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    position: relative;
}

.nav_class ul ul{

    display: none;
}

.nav_class ul li:hover>ul{
    display: block;
}

.nav_class ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
}

a{
    text-decoration: none;
    color: var(--cor1);
}

a:hover{
    color: white;
    text-decoration: underline;
}

main{
    font-size: larger;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: rgb(230, 230, 230);
    margin-bottom: 20px;
}

.cara1{
    padding-left: 370px;
}
.cara2{
    padding-left: 370px;

}
.cara3{
    padding-left: 20px;
    
}
.cara4{
    padding-left: 370px;

}
.cara5{
    padding-left: 20px;

}

.cara6{
    padding-left: 20px;

}

.class_sub_1{
    font-size: 40px;
    text-align: center;
    color: hsl(20, 70%, 30%);
    padding-top: 5px;
    padding-bottom: 10px;
}



main>img{
    height: 340px;
    width: 340px;
    float: left;
    margin-right: 10px;
}

.img_warrior{
    position: relative;
    height: 375px;
    width: 340px;
    margin-right: 10px;
}
.img_pistol{
    height: 400px;
    width: 340px;
    margin-right: 10px;
}



article{

}

aside{

}

footer{
    background-image:linear-gradient(to right ,hsl(0, 80%, 20%),#92793E,hsl(0, 80%, 20%)) ;
    color: rgb(230, 230, 230);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;    
}


    





