@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(Roboto);
    background-color: antiquewhite;
}

div{
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover {
    padding: 2em 2em;
    background-color: lightgray;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.div1{
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
}

.div2{
    
}

.div3{
    
}

.div4{
    
}

header{
    text-align: center;
}

nav{
    background-color: bisque;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

nav > a{
    text-decoration: none;
    color: blue;
}

main{
    
}

article{
    
}
aside{
    
}
footer{
    
}
