@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root{
    color: #5D4030;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.to_up_2{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: fixed;
    left: 94%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(95, 95, 95);
    color: #fff;
    border: 1px solid;
    transition: all 0.5s ease-out;  

}

body{
    font-family: var(Roboto);
    background-color: rgb(40, 40, 40);
}

header{
    font-size: 30px;
    color: #F2C512;
    text-align: center;
}

nav{
    background-image:linear-gradient(to right ,hsl(0, 80%, 20%),#92793E,hsl(0, 80%, 20%)) ;
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

nav>a{
    text-decoration: none;
    color: hsl(0, 0%, 70%);
}

.link1{
    text-decoration: none;
    color: #fff;
}

main{
    margin: auto;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
}

#img_dwarf{
    width: 25%;
    display: block;
    margin: auto;
}
.class {
    font-size: 50px;
    text-align: center;
    padding: 20px 20px;
    color: #D1A700;
}

.class_sub_1{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: #ff0000;
}

.class_sub_2{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: #0000ff;
}

.class_sub_3{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: violet;
}

#class_sub_3{
    text-align: center;
    font-size: larger;
}

main > h2{
    color: hsl(20, 70%, 30%);
}

main img{
    width: 40%;
    display: block;
    margin: auto;
}

article{

}

aside{

}

footer{

}

