@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: yellowgreen;
}

nav{
    text-decoration: none;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
}

main{
    background-color: antiquewhite;
}

article{
    
}
aside{
    
}
footer{
    
}
