@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    height: 100vh;
    font-family: var(Roboto);
    background-image: url(../imagens/thumb-1920-936378.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
    max-height: 100%;
    overflow-y: overlay;
    /* z-index: 9; */
}
.modal1{
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.modal2{
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.modal3{
    width: 250px;
    height: 250px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.modal4{
    width: 250px;
    height: 250px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal1:hover{
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/lol1.jpg);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 15px;
    
}

.modal2:hover{
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url(../imagens/l2.png);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 15px;
}
.modal3:hover{
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url(../imagens/left);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 15px;
}
.modal4:hover{
   width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/phasmo.jpg);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 15px;
}

.modal1:hover > p{
    display: none;
    text-decoration: none;
}

.modal2:hover > p{
    display: none;
    text-decoration: none;
}

.modal3:hover > p{
    display: none;
    text-decoration: none;
}

.modal4:hover > p{
    display: none;
    text-decoration: none;
}

p{
    
    text-align: center;
    display: flex;
    align-items: center;
    color: blue;
    justify-content: center;
}